body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*

Header

*/
header {
    padding: 10px 10px 0 10px;
    background: white;
    width: 100%;
    margin: 0;
    padding:0;
}
.cont {
    background-color: rgb(0,0,0,0.3);
    margin:0;
    padding: 10px;
}
.row-head {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 100% !important;
    max-width: 100%;
    padding:0;
    margin:0;
}
.logo {
    width: 175px;
    vertical-align: top;
}
.vl {
    border-left: 2px solid #fff;
    height: 100%;
    vertical-align: top;
    margin: 0 10px 0 10px;
}
.name, .sub-name {
    color: #ffffff;
}
.sub-name {
    text-transform: uppercase;
    letter-spacing: 0.65em;
}
.header, .vl, .logo {
    display: inline-block;
}
.header {
    vertical-align: baseline;
    margin-top: 2.5em;
}
.hr-top, .hr-bottom {
    border: none;
    height: 2px;
    color: rgb(0,0,0,0.3);/* old IE */
    background-color: rgb(0,0,0,0.3);/* Modern Browsers */
    margin: 2px 0 0 0;
    width: 100%;
}
.hr-bottom {
    margin-bottom: 2px;
}

.body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
   
}
#images {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.image {
    height: 18.4em;
    margin: 2px;
}
.bw {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity:0.8;
}
.open-image {
    position: absolute;
    width: 70%;
}
a, a:hover {
    text-decoration: none;
}

/*
gallery
*/

.lg-thumb-item{
    opacity: 0.3 !important;
}
.lg-thumb-item:hover, .lg-thumb-item.active, .lg-thumb-item:focus{
    opacity: 1 !important;
    border: 2px solid white !important;
}


/* footer */



footer {
    width: 100%;
    background-color: rgb(0,0,0,0.3);
    margin:0;
    padding: 10px;
}
.footer-name {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.65em;
    display: inline-block;
}
.icons i {
    display: inline-block;
    color: #DAF0B2;
    margin-right: 15px;
}
.icons i:hover {
    color: #fff;
    cursor: pointer;
}
.container-bottom {
    margin-right: auto;
    margin-left: auto;
}

